{% extends 'base.html' %}
{% load static %}

{% block title %}COP30 Dashboard - Home{% endblock %}

{% block content %}
<div class="container">
    <main>
        <section class="alert-section">
            <h2>Avisos Importantes</h2>
            <div class="alert-cards-container">
                <div class="alert-card blue-alert">
                    <i class="fa-solid fa-cloud-sun"></i>
                    <p>Previsão de tempo estável para a manhã. Aproveite!</p>
                </div>
                <div class="alert-card red-alert">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <p>O fluxo de acesso ao Pavilhão 5 está alterado. Use a entrada B.</p>
                </div>
                <div class="alert-card green-alert">
                    <i class="fa-solid fa-leaf"></i>
                    <p>Ajude a manter o evento verde. Use as lixeiras seletivas.</p>
                </div>
            </div>
        </section>
        
        <section class="upcoming-section">
            <h2>Próximos Eventos</h2>
            <div class="horizontal-scroll-container">
                
                {% if proximos_eventos %}
                    {% for evento in proximos_eventos %}
                    <a href="#" class="event-item-horizontal">
                        <div class="time-block">
                            <span class="hour">{{ evento.start_time|date:"H:i" }}</span>
                            <span class="period">{{ evento.start_time|date:"d/m" }}</span>
                        </div>
                        <div class="details">
                            <h3>{{ evento.titulo }}</h3>
                            <p><i class="fa-solid fa-location-dot"></i> {{ evento.local }}</p>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <p>Nenhum evento futuro agendado no momento.</p>
                {% endif %}
        
            </div>
        </section>
    </main>
</div>
{% endblock content %}